body {
    font-family: 'Arial', sans-serif;
    background-color: #ffd8e6; /* Cor de fundo rosa claro */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px; /* Borda arredondada */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff4081; /* Cor rosa */
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff4081;
    color: #fff;
    border: none;
    border-radius: 10px; /* Borda arredondada */
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #ff005c; /* Cor rosa mais escura */
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main-photo {
    width: 200px; /* Largura maior para a foto principal */
    height: 200px; /* Altura maior para a foto principal */
    border-radius: 50%; /* Borda arredondada para formato circular */
    object-fit: cover; /* Evita distorções nas fotos */
    transition: transform 0.5s ease-in-out; /* Adiciona transição de animação */
}

.main-photo:hover {
    transform: scale(1.2); /* Aumenta a escala da foto ao passar o mouse */
}

.hidden {
    display: none;
}

.negrito {
    font-weight: bold;
}